body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    background-color: ivory;
}

h1,h3{
    font-style: italic;
}

#sidebar{ 
    float: left;
    width:  25%;
}

#main-content{
    padding-left: 25%;
    width: 75%;
}

#control-bar{
    font-size: .60em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

h3.error{
    color:crimson;
}

span{
    color: purple;
}

span.error{
    color: red;
}