.parant{
    background-color: rgb(7, 48, 3);
    height: 400px;
    width: 400px;
}

.child{
    background-color: red;
    height: 50%;
    width: 50%;
    animation: left-to-right 1s ease-in forwards infinite alternate;
}
.parant:hover .child{
    animation-play-state: paused;
}

@keyframes left-to-right {
    0%{
        background-color: red;
        transform: translateX(0);
    }

    33%{
        transform: translateY(100%);
    }
    60%{
        transform: translateX(100%) translateY(100%);
    }
    100%{
        transform: translateX(100%);
        background-color: rgb(7, 48, 3);
    }
}